In [5]:
2 * 2

4

In [6]:
x = 1
y = 2

In [7]:
1 + 2

3

In [8]:
x + y

3

In [ ]:
# single line comment : # my name is kisha ha ha

In [9]:
# multi line comment  :
"""
Old macdonald had a farm
e-i-e-i-o
"""

'\nOld macdonald had a farm\ne-i-e-i-o\n'

In [10]:
# variable practice
_a = 4

In [11]:
print(_a)

4

In [12]:
_A = 5
print(_A)

5

In [13]:
amount = 20
name = "song"
price = 45.40
print(amount, name, price)

20 song 45.4

In [14]:
amount, name, price = 20, "peter", 45.40

In [16]:
name = input("Please enter yur name: ")

Please enter yur name:  Kisha

In [17]:
print(name)

Kisha

In [18]:
age = input("Your age : ")

Your age :  24

In [19]:
age

'24'

In [20]:
display(name)

'Kisha'

In [56]:
# Variables Exercise

print("Please enter your details")
print()
name = input("Name : ")
age = int(input("Age: "))
age_string = str(age)  #convert first int to str to use "len"
if len(age_string) > 3:
    print("Error! Only 3 digits allowed!")
    sys.exit()
    
IC = int(input("IC No. : "))
a_string = str(IC)  #convert first int to str to use "len"
if len(a_string) > 12:
    print("Error! Only 12 digits allowed!")
    sys.exit()
    
phone = int(input("Phone No. : "))
email = input("Email : ")
gender = input ("Gender: ")
ms= input ("Marital status : ")
address = input ("Address : ")
state= input ("State : ")
country = input ("Country : ")

Please enter your details

Name :  Kisha
Age:  24
IC No. :  970217069999
Phone No. :  0112233445566
Email :  song@gmail.com
Gender:  Woman
Marital status :  single
Address :  Cheongdam-dong Gangnam
State :  Seoul
Country :  Korea

In [57]:
print("Hi. My name is", name,".I'm ",age, "years young. I live in", state, "as a", ms, "and happy", gender)

Hi. My name is Kisha .I'm  24 years young. I live in Seoul as a single and happy Woman